<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TugasAkhir_PABD.Properties.Settings.ProjectAkhirPABDConnectionString"
            connectionString="Data Source=LAPTOP-8MKEQ456;Initial Catalog=ProjectAkhirPABD;Persist Security Info=True;User ID=sa;Password=mentepermaib20"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>